html, body
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,main {
        display:block;
}

body { font-family: sans-serif; line-height: 150%; text-size-adjust: 100%; -webkit-text-size-adjust: none; }

h1,h2,h3,p,table,dl { margin: 10px; }


header[role="banner"]{
  margin: 0;
  padding: 1em 0em 1em 0em;
  background-color: darkblue;
  width: 100%;
}

header[role="banner"] h1{
  margin: 0;
  padding: 0;
  text-align: center;
}

header[role="banner"] h1 a {
  color: white;
  text-decoration: none;
}


h2 {
  border-width: 0px 0px 0px 4px;
  border-style: solid;
  border-color: darkblue;
  padding: 4px 4px 4px 4px;
  margin-top: 1em;
}

h3 {
  border-width: 0px 0px 0px 4px;
  border-style: solid;
  border-color: darkblue;
  padding: 2px 2px 2px 2px;
}


#contents {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 1.0rem;
}

main {
  width: 800px;
  max-width: 100%;
  padding-left: 5%;
}

footer {
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: darkblue;
  padding-top: 10px;
  margin-top: 20px;
  text-align: center;
}



nav {
  flex-basis: max-content;
  font-weight: bold;
  font-size: 1.2rem;
}

nav ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

nav ul li {
  margin: 0;
  text-align: center;
  padding: 1em 0.2em 1em 0.2em;
  white-space: nowrap;
}

nav ul a { color: darkblue; text-decoration: none;  }

nav ul li:hover {
  background: darkblue;
}

nav ul li:hover > a {
  color: white;
}

h1 {
  color: darkblue;
}

#news {
  width: 100%;
}

#letters {
  display: flex;
  list-style-type: none;
}

#letters li {
  margin-right: 1em;
}

.date {
  color: darkblue;
}

dt {
  font-size: 1.0rem;
  font-weight: bold;
}

.baccount dt { float:left; clear:left; width: 10em;}
.baccount dt:after { content: ":"; }
.baccount dd { margin-left: 10em; }
dl.baccount { border: 2px  solid  darkblue;  width: max-content; max-width: 100%; padding: 5px 10px; color: black; background-color: #EEEEEE; font-weight: bold;}

.balance td:nth-child(2) { text-align: right; }

