<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="icon" sizes="any" href={{ "/favicon.svg" | relative_url }} type="image/svg+xml">
  <link rel="stylesheet" type="text/css" media="screen" href={{ "/assets/style.css" | relative_url }}>
</head>
<body>
  <header role="banner">
    <h1><a href={{ "/index.html" | relative_url }}>LA Symposium</a></h1>
  </header>
  <div id="contents">
    <nav role="navigation">
      <ul role="menubar">
        <li role="menuitem"><a href={{ "/index.html" | relative_url }}>トップページ</a></li>
        <li role="menuitem"><a href={{ "/2025/summer.html" | relative_url }}>2025年度夏のLA</a></li>
        <li role="menuitem"><a href={{ "/2025/winter.html" | relative_url }}>2025年度冬のLA</a></li>
        <li role="menuitem"><a href={{ "/members.html" | relative_url }}>会員情報</a></li>
        <li role="menuitem"><a href={{ "/links.html" | relative_url }}>リンク</a></li>
      </ul>
    </nav>
    <main> 
{{ content }}
    </main>
  </div>
</body>
</html>
